ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}

.mat-body-2{
  padding-top:5%;
  margin-left:20%;
}

li {
  text-decoration: none;
  list-style: none;
}
