mat-form-field,textarea{
  width:100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 10rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}
button {
  margin-top: 0.5rem;
}
